# Ignore VS Code settings folder
.vscode/

# Ignore build artifacts
build/
*.exe

# # Ignore build/output binaries
# *.out
# *.o
# *.obj
# *.dll
# *.pdb

# Ignore macOS / Windows extras (optional)
.DS_Store
Thumbs.db
